################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/‏‏CPOR/obj/x86/Debug
/‏‏CPOR/bin/Debug

# Python
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# Copied DLL (built artifact)
up_cpor/CPORLib.dll
